body {
    background-image: url('https://static3.bigstockphoto.com/8/1/1/large1500/118121435.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@font-face {
    src: url('Fonts/AGRESSIVE.otf');
    font-family: agg;
}

.heading {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 62px;
    font-family: agg;
}

.tb {
    margin: 0px auto;
    color: white;
}

#data1 {
    float: right;
    font-size: 32px;
}

#add1 {
    float: right;
    align-content: center;
    text-align: center;
    font-size: 24px;
    color: white;
    background-color: blue;
    cursor: pointer;
}

#delete1 {
    float: left;
    align-content: center;
    text-align: center;
    font-size: 24px;
    color: white;
    background-color: red;
    cursor: pointer;
}

#ad1 {
    margin-left: 10px;
    align-content: center;
    text-align: center;
    font-size: 24px;
    color: white;
    background-color: green;
    cursor: pointer;
}

#d1 {
    display: inline;
    margin-left: 10px;
    align-content: center;
    text-align: center;
    font-size: 24px;
    color: white;
    background-color: crimson;
    cursor: pointer;
}

#data2 {
    font-weight: bold;
    margin-left: 240px;
    font-size: 24px;
}

#td {
    margin-top: 10px;
    float: left;
    width: 800px;
}

@media only screen and (max-width:360px) {
    .heading {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 32px;
        font-family: agg;
    }
    #data2 {
        width: 320px !important;
        font-weight: bold;
        margin-left: 10px;
        font-size: 16px;
    }
    #data {
        margin-left: 10px;
        font-size: 12px;
    }
    #data1 {
        float: right;
        font-size: 12px;
    }
    #add1 {
        float: right;
        align-content: center;
        text-align: center;
        font-size: 12px;
        color: white;
        background-color: blue;
        cursor: pointer;
    }
    #delete1 {
        float: left;
        align-content: center;
        text-align: center;
        font-size: 12px;
        color: white;
        background-color: red;
        cursor: pointer;
    }
    #ad1 {
        margin-left: 10px;
        align-content: center;
        text-align: center;
        font-size: 12px;
        color: white;
        background-color: green;
        cursor: pointer;
    }
    #d1 {
        display: inline;
        margin-left: 10px;
        align-content: center;
        text-align: center;
        font-size: 12px;
        color: white;
        background-color: crimson;
        cursor: pointer;
    }
}
